.contact_header {
  font-family: "Radley", serif;
  font-size: 50px;
}
.contact_sub {
  font-family: "Radley", serif;
  font-size: 25px;
}
.help {
  font-family: "Radley", serif;
  color: #3c101e;
  margin-top: 75px;
  font-size: 35px;
  margin-bottom: 80px;
}
.contact{
    background-color: #fbf7f2;
}
.form_Data{
    text-align: left;
}
.help_2 {
  font-family: "Radley", serif;
  color: #3c101e;
  margin-top: 75px;
  font-size: 35px;
}
.contact_icon {
  height: 100px;
  margin-left: 60px;
  margin-right: 60px;
}
.contact_icon_1 {
  height: 100px;
  margin-left: 60px;
  margin-right: 60px;
}
.contact_tag {
  font-family: "Radley", serif;
  color: #3c101e;
  text-align: center;
  font-size: 25px;
}
.addy {
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
  color: #bf5419;
  font-family: "Radley", serif;
}
.policy {
  text-align: center;
  font-size: 12px;
  margin-top: 50px;
}
.policy_div {
  margin-top: 100px;
  max-width: 200px;
}
.time {
  font-family: "Radley", serif;
}
.add_div {
  max-width: 200px;
  font-weight: 100;
}
.policy {
  text-align: center;
  max-width: 700px;
  margin-top: 70px;
}
