.main_div {
  background-color: rebeccapurple;
}
.discount_div {
  font-family: "Radley", serif;
  padding-top: 45px;
  padding-bottom: 45px;
  color: white;
  background-color: #3a111f;
}
.discount_price {
  padding-left: 70px;
  padding-right: 70px;
  border-right: 1px solid snow;
}
.discount_head {
  font-size: 35px;
  font-weight: 100;
}
.reason_text {
  font-size: 35px;
  font-family: "Radley", serif;
  color: white !important;
}
.reasn_txt {
  font-size: 55px !important;
  font-family: "Radley", serif;
}
.reason_div {
  padding-top: 70px;
  margin-top: 100px;
}
.selling {
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #3a111f;
}
.image__text {
  max-width: 500px;
  padding-top: 250px;
}

.carousel_img {
    background-color:#F6F3E7;

  padding-top: 150px;
  padding-bottom: 150px;
}
.img_txt {
  font-size: 20px !important;
  color: #3a111f;
  font-family: "Radley", serif;
}
.bestselling {
  color: #F6F3E7 !important;
  background-color: #3c101e;
  padding-top: 70px;
  padding-bottom: 70px;
}
.modo_shop {
  font-size: 35px;
  font-family: "Radley", serif;
}

.modo_text {
  font-size: 16px;
  font-weight: 100;
  margin-top: 10px;
}

.view_all{
  width: 120px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid white;
  margin-top: 20px;
  border-radius: 5px;
}
.new_items{
  background-color:#F6F3E7;
}
.furniture{
  padding-top: 70px;
}
.background_div{
    font-family: "Radley", serif;

}