.abt_text1{
      font-family: "Radley", serif;
font-size: 25px;
}
.abt_2{
          font-family: "Radley", serif;
color: black;
}
.crafted{
    font-size: 40px;
}
.slidetitle{
    font-size: 24px  !important;
              font-family: "Radley", serif;
              line-height: 2;

}
.slidetext{
    font-size: 34px  !important;
              font-family: "Radley", serif; 
}