.delivery_font {
  font-size: 40px;
  font-family: "Radley", serif;
  margin-top: 100px;
}
.delivery_div {
  margin-left: 5%;
  margin-right: 5%;
}
.delivery_texts {
  font-family: "Radley", serif;
  margin-top: 20px;
}

.delivery_div{
    background-color: #faf7f2 ;
}
.delivery_pricing{
      font-family: "Radley", serif;

}